<img src="./images/password.gif" class="password">

<form action="index.php" method="post">
	[hidden]
	
	[feedback]

	<h1>Endre passord</h1>

	<p class="txt">
		Velg hvilket passord som skal skiftes fra nedtrekkslisten, bekreft at du har rettighetene til &aring; endre
		passord ved &aring; taste inn gyldig administrativt passord, og det nye passordet to ganger i de &oslash;vrige feltene.
	</p>

	<p class="txt">
		Passordet til Undergruppene brukes av de forskjellige undergruppene som har rett til &aring;
		gi beboere dugnadsfri. Passordet kan brukes i perioden fra beboerne er lagt til listen, og frem til innkallingslappene
		som gis til beboerne blir skrevet ut.
	</p>

	<p class="txt">
		Det er anbefalt &aring; bytte passordet straks det oppdages misbruk.
	</p>
	
	<p>
		<select size="1" type="select" name="bytte">
			<option value="undergruppe" selected="selected">Undergruppe</option>
			<option value="administrasjon">Administrasjon</option>
			<option value="dugnadsleder">Dugnadsleder</option>
		</select>
		
		Passord: <input type="password" name="pw" value="" size="15" maxlength="15">
		Nytt passord: <input type="password" name="pw_2" value="" size="15" maxlength="15">
		Bekreft nytt passord: <input type="password" name="pw_b" value="" size="15" maxlength="15"> <input type="submit" name="admin" value="Skifte passord">
	</p>

</form>


