<img src="./images/mouse.gif" class="hoyre" />

<div class="left_column">

	[feedback]

	<h1>Botoversikt</h1>

	<p>
		Merk av eventuelle dugnadsb&oslash;ter du vil ha annulert, tast inn passord og klikk oppdater. &Aring; annulere en bot betyr enten at en
		ny bot tilf&oslash;yes med et negativt bel&oslash;p tilsvarende det vanlige botbel&oslash;pet (mao. redusert husleie),
		eller at boten slettes fordi beboeren enn&aring; ikke har blitt fakturert (gr&oslash;nn).
	</p>
	
	<p>
		[semester_total]
	</p>

	<p>
		Dugnad er g&oslash;y!		
	</p>

	<p>
		Vennlig hilsen,<br />
		Dugnadslederne
	</p>
	
	<div class="spacer">&nbsp;</div>


	<form action="index.php" method="post" class="full_width">
	[hidden]

	<p>
		[botliste]
	</p>
	
	[ny_annulering]

	<p>
		Passord: <input type="password" name="pw" value="" size="15" maxlength="15">
		<input type="reset" value="Avbryt">
		<input type="submit" value="Oppdater listen">
	</p>

	</form>

</div>




