<form action="index.php" method="post">
[hidden]

<img src="./images/mouse.gif" class="hoyre" />

<div class="left_column">

	<h1>Legge til og slette dugnadsledere</h1>

	[feedback]
	
	<p>
		Merk av dugnadslederen(e) du vil ha slettet, tast inn passord og klikk oppdater.
	</p>
	
	<p>
		Du kan gjerne samtidig tilf&oslash;ye en annen beboer som dugnadsleder.
		Dette gj&oslash;res ved &aring; finne beboeren i nedtrekksmenyen. Finnes personen ikke i denne listen, s&aring; m&aring; personen til&oslash;yes
		beboerlisten via <i>Semesterstart &gt; Importer beboere</i>.
	</p>

	<p>
		<b>Slett en dugnadsleder ved å hake av boksen foran navnet, tast inn passord og klikk <i>Oppdater</i>.</b>
	</p>
	
	<p>
		[dugnadslederne]
	</p>

	<p>
		[andre_beboere] &nbsp;&nbsp;&nbsp;&nbsp;	
		Passord: <input type="password" name="pw" value="" size="15" maxlength="15">
		<input type="reset" value="Avbryt">
		<input type="submit" value="Oppdater">
	</p>

</div>

</form>


