<form action="index.php" method="post">
	<input type="hidden" name="do" value="admin">
	[hidden]

	<img src="./images/clipboard.gif" class="hoyre" />
	<h1>Botliste</h1>

	<p>
		[bot_count]
	</p>
	
	<p>
		<b>MERK:</b> Klikk p&aring; knappen <i>Nullstill botliste</i> etter at du har tatt en utskrift.
		<br />Du skal med andre ord <u>f&oslash;rst</u> klikke <i>Forbered utskrift</i> f&oslash;r du velger &aring; nullstille botlisten.
	</p>
	
	<p class="txt_bottom">
		Mvh,<br />
		Dugnadslederne
	</p>
	
	<p>
		Passord:	<input type="password" name="pw" value="" size="15" maxlength="15">
					<input type="submit" name="prepare" value="1. Forbered utskrift">
					<input type="submit" name="printok" value="2. Nullstille botliste">
	</p>

</form>


