<img src="../images/password.gif" class="password" />

<form action="index.php" method="post">
  <input type="hidden" name="do" value="admin" />
  [hidden]

  <h1>Dugnadsfri for Undergrupper</h1>

  <p class="txt">
    Ettersom du er p&aring; denne siden antar vi det skyldes at du har ansvaret
    for &aring; gi dugnadsfri til beboere i en eller annen Undergruppen. For at
    du skal kunne gi dugnadsfri, m&aring; du har et passord. Dette passordet
    byttes ut med jevne mellomrom, og blir i perioder deaktivisert for &aring;
    unng&aring; misbruk. Fungerer ikke passordet du sitter p&aring; kan du ta
    kontakt med en Dugnadsleder, som vil gi det det oppdaterte passordet.
  </p>

  <p class="txt">
    Ellers fungerer denne tjenesten veldig enkelt slik:
  </p>

  <ol class="txt">
    <li>
      Hver enkelt beboer st&aring;r oppf&oslash;rt i dugnadslisten. For &aring;
      f&aring; tilgang fyller du inn passordet du har og klikker <i>Logginn</i>.
    </li>
    <li>
      I det etterf&oslash;lgende skjermbildet ser du beboerlisten, i kolonnen
      til h&oslash;yre for hver enkelt beboer finner du en nedtrekksliste med
      flere valg. Det er denne menyen du bruker for &aring; endre
      dugnadsstatusen til en beboer.
    </li>
    <li>
      Samtlige beboere som er med i Festforeningen har dugnadsfri. Disse skal
      gis dugnadsstatus <i>Festforening</i>. Beboere som ikke er med i
      Festforeningen, men som skal ha dugnadsfri, gir du status
      <i>Dugnadsfri</i>.
    </li>
    <li>
      N&aring; du har rettet status til samtlige i Undergruppen, ruller du helt
      nederst p&aring; siden. Klikk p&aring; knappen merket
      <i>Oppdater dugnadslisten</i>.
    </li>
    <li>
      Vent til siden har blitt lastet p&aring; nytt (dette tar gjerne litt tid).
      Bekreft at korrekt antall beboere ble gitt dugnadsfri ved &aring; telle
      antall forekomster av passende tilbakemelding &oslash;verst p&aring;
      siden. Ta gjerne ogs&aring; noen stikkpr&oslash;ver..
    </li>
    <li>
      <b>Ferdig!</b>
    </li>
  </ol>

  <p class="txt">
    Takk for hjelpen.
  </p>
  <p class="txt">Mvh,<br />[dugnadslederne]</p>

  [box_style]

  <p></p>
</form>
