<div class="right_column">
  <h1><img src="./images/mouse.gif" class="hoyre" />Innstillinger</h1>

  <p class="txt">
    Her kan du foreta tjenester relevant for semesterstart, tilf&oslash;ye og
    slette dugnadsledere og rette beboernavn.
  </p>

  <p>Mvh,<br />Dugnadslederne</p>

  <div class="bl">
    <div class="br">
      <div class="tl">
        <div class="tr">
          <form action="index.php" method="post" class="mini_block">
            <input type="hidden" name="do" value="admin" />
            <input type="hidden" name="admin" value="Innstillinger" />

            <input type="submit" name="admin" value="Semesterstart" />
            <input type="submit" name="admin" value="Dugnadslederstyring" />
            <input type="submit" name="admin" value="Rette beboernavn" />
            <input type="submit" name="admin" value="Nye beboere" />

            <input type="submit" name="admin" value="Innkalling av nye" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="clear">&nbsp;</div>
</div>
