<img src="./images/password.gif" class="password" />

<form action="index.php" method="post">
  <input type="hidden" name="do" value="admin" />
  [hidden]

  <h1>Infoliste - dugnadsinnkalling til beboerne</h1>

  <p class="txt_bottom">
    <b>MERK:</b> F&oslash;r du skriver ut infolisten, m&aring; du sjekke at
    <b>Vaktsjefen</b>, <b>Ryddevaktsjefen</b> og <b>Festforeningen</b> har
    fjernet alle sine beboere, slik at disse ikke feilaktig blir gitt dugnad.
    Videre er det viktig samtlige <b>Blivende elefanter</b> er merket p&aring;
    Dugnadslisten (disse blir automatisk elefanter 15. mars/okt), i tillegg til
    &oslash;vrige beboere som har dugnadsfri.
  </p>

  <p class="txt_bottom">
    N&aring;r du taster inn passordet og klikker OK for &aring; skrive ut
    Infolisten, blir passordet (passordet er <b>[passord]</b>) som du for et par
    dager siden burde ha gitt til FF-Formann, Ryddevaktsjefen og Vaktsjefen
    ubrukelig. Dette skjer for &aring; hindre misbruk av passordet etter at
    dugnadslisten er skrevet ut. Passordet er kun gyldig ved starten av hvert
    enkelt semester; det vil si etter at nye l&oslash;rdager er tilf&oslash;yd
    dugnadskalenderen, og frem til Infolisten (dugnadsinnkallingslappene)
    skrives ut.
  </p>

  <p class="txt_bottom">
    Infolisten deles opp i lapper som legges i hyllen til hver enkelt beboer.
  </p>

  <p>
    <input type="submit" value="OK" />
  </p>
</form>
