<form action="index.php" method="post">
	<input type="hidden" name="do" value="admin" />
	<input type="hidden" name="admin" value="Tildele dugnad" />
	[hidden]

	<div class='row_explained'><div class='name'>Slett Beboer</div><div class='when_narrow'>Tildele antall dugnader</div><div class='note'>Notater</div><div class='spacer'>&nbsp;</div></div>
	<p class="txt_bottom">
		[beboerliste]
	</p>

	<div class='row_explained'>		<input type="submit" name="act" value="Oppdatere"><div class='spacer'>&nbsp;</div></div>
</form>
