<div class="right_column">

	<h1><img src="./images/mouse.gif" class="hoyre" />Innstillinger</h1>
	
	<p class="txt">
		Her kan du foreta tjenester relevant for semesterstart, tilf&oslash;ye og slette dugnadsledere, endre passord og
		rette beboernavn. Alle tjenestene her krever at du taster inn administrasjonspassordet.
	</p>
	
	<p class="txt">
		For at Undergruppene skal kunne bruke sitt passord for &aring; kunne gi beboere dugnadsfri, m&aring; passordet
		v&aelig;re aktivisert. Under kan du se gjeldende status for passordet, og hvis det er n&oslash;dvendig, kan
		passordet aktiviseres ved &aring; taste inn passordet og klikke knappen merket <i>Endre status</i>.
	</p>
	
	<p class="txt">		
		Passordet til Undergruppene blir
		automatisk aktivisert etter at nye l&oslash;rdager er lagt til kalenderen, og blir automatisk deaktivisert etter
		at infolisten (dugnadsinnkalling) er skrevet ut.
	</p>
	
	<p>
		<b>MERK:</b> Passordet Undergruppene skal bruke vises n&aring;r statusen endres.<br />
		<b>TIPS:</b> Passordet kan endres ved &aring; klikke p&aring; <i>Skifte passord</i> under.
		
	</p>
	
	<p>
		Undergrupper benytter f&oslash;lgende adresse: [fri_url]
	</p>
	
	<form action="index.php" method="post">
	[hidden]
	[open_season_status]
	<input type="submit" name="admin" value="Endre status">
	</form>
	
	<p>
		Mvh,<br />Dugnadslederne
	</p>
	
	<div class="bl">
		<div class="br">
			<div class="tl">
				<div class="tr">
					<form action="index.php" method="post" class="mini_block">
						<input type="hidden" name="do" value="admin" />
						<input type="hidden" name="admin" value="Innstillinger" />
						
						<input type="submit" name="admin" value="Semesterstart">		
						<input type="submit" name="admin" value="Dugnadslederstyring">
						<input type="submit" name="admin" value="Skifte passord">
						<input type="submit" name="admin" value="Rette beboernavn">
						<input type="submit" name="admin" value="Endre Buatelefon">
						<input type="submit" name="admin" value="Nye beboere">

						<input type="submit" name="admin" value="Innkalling av nye">
						
					</form>
				</div>
			</div>
		</div>
	</div> 
	<div class="clear">&nbsp;</div>

</div>
	
