<div class="flyer_info[page_break]">
<div class="flyer_rom_info">[rom_info]</div>

	<h1>Dugnadsinfo</h1>
	
	<p>
		Du har unnlatt &aring; m&oslash;te p&aring; dugnad [dugnad_dato]
		[dugnad_bot]
		[dugnad_straff]
	</p>
	
	[dugnad_dugnad]
	
	<p>
		Dugnadsledelsen har reagert i henhold til instruks for dugnadsledelsen (se den r&oslash;de statuttpermen i biblioteket).
		Henvendelser legges skriftlig (p&aring; et A4-ark) i dugnadshyllen.
	</p>
	
	<p>
		Mvh,<br />
		Dugnadslederne
	</p>

</div>

