<br><br>
<div class="flyer_info[format_print]">
<div class="flyer_rom_info">[rom_info]</div>

	<h1>Info om Dugnadsordningen</h1>
	
	<p>
		I l&oslash;pet av et semester er du kontraktbundet til &aring; utf&oslash;re 2 dugnader &aacute; 4 timer. Du f&aring;r
		bot og straffedugnad hvis disse ikke er utf&oslash;rt.
	</p>

		<ul>
			<li />Du har blitt tildelt f&oslash;lgende dugnadsdatoer: <b>[dugnad_dugnad]</b>
		</ul>
	
	<p>
		Du kan selv bytte dugnadsdatoer p&aring; nettsiden (se lenke under).
		Les mer om dugnadsordningen i den r&oslash;de statuttpermen i biblioteket, eller kontakt Kollegiet.
	<p>
	
	<h2>Bytte av dugnadsdato gj&oslash;res p&aring; nett</h2>
	
	<p>
		I inntil 7 dager f&oslash;r dugnaden avholdes kan du bytte dato p&aring; nettsiden.
		Til dette trenger du ditt eget passord. Passordet er privat og vi anser det som <u>ditt</u> ansvar &aring; se
		til at andre ikke misbruker din konto.
	</p>
	
		<ul>
			<li />[dugnad_url]
			<li />Passordet til din brukerkonto er: <b>[passord]</b>
		</ul>
	
	<p>
		Passordet skiller mellom store og sm&aring; bokstaver. Du kan bytte b&aring;de passord og dugnadsdatoer p&aring;
		nettsiden. Hvis du glemmer eller mister passordet, s&aring; kan du ta kontakt med en dugnadsleder for hjelp.
	</p>
	
	<p>
		Mvh,<br />
		Dugnadsledelsen<br />
	</p>

</div>

