<br>
<div class="flyer_info[format_print]">
<div class="flyer_rom_info">[rom_info]</div>

	<h1>Informasjon om dugnadsordningen</h1>
	
	<p>Hver beboer er pliktig til å gjennomføre to dugnader hvert semester. Dugnadene gjennomføres på lørdager fra 10:00-14:00. Pause 12:00-12:30.</p>
	<p>Du har blitt tildelt f&oslash;lgende dugnadsdatoer: <b>[dugnad_dugnad]</b></p>
	<p>Ved ugyldig fravær vil du bli tildelt en ny dugnad, samt en bot pålydende kr 500,-.</p>
		
	<p><b>Bytte av dugnader</b></p>
		<ul>
			<li />[dugnad_url]
			<li />Passordet til din brukerkonto er: <b>[passord]</b>
		</ul>
	<p>Fristen for bytte er én uke før oppsatt dugnad.</p>
	<p><b>Dugnadsalternativer</b></p>
	<p><i>Dugnad kan også avholdes som dagdugnad, ryddevakt, vakt i Billa eller hyttedugnad.</i></p>
	<ul>
		<li>Ta kontakt med vedlikeholsleder Petter Gripheim for dagdugnad.</li>
		<li>Ta kontakt med vaktsjef Christian Samuelsen for vakt i Billa.</li>
		<li>Ta kontakt med hyttestyret for hyttedugnad.</li>
		<li>Det henger en egen liste i fojaeen med ledige ryddevakter.</li>
	</ul>
	<p>
		Dugnadsledelsen,<br />
		[gutta]
	</p>

</div>

