<div class="flyer_info[format_print]">
  <div class="flyer_rom_info">[rom_info]</div>

  <h1>Korrigering av Dugnadsdato</h1>

  <p>
    I forbindelsen med en oppgradering av dugnadstjenesten natt til
    s&oslash;ndag, ble samtlige dugnader slettet. Vi ble derfor tvunget til
    &aring; tildele nye dugnadsdatoer til samtlige dugnadspliktige. Vi ber
    samtlige av de 39 som utf&oslash;rte dugnad i januar om &aring; legge denne
    lappen tilbake i dugnadshyllen. Men stryk f&oslash;rst ut eventuelle datoer
    du ikke vil ha, slik at et korrekt antall dugnader gjenst&aring;r. Kun
    blivende elefanter skal ha en dugnad, alle andre skal ha to dugnader i
    l&oslash;pet av semesteret.
  </p>

  <ul>
    <li />
    Du har blitt tildelt f&oslash;lgende
    <u>nye</u>
    dugnadsdatoer:
    <b>[dugnad_dugnad]</b>
  </ul>

  <p>
    Vennligst bekreft at disse nye dugnadsdatoene passer, eller foreta et bytte
    som vanlig. Bes&oslash;k nettsiden under og bruk ditt personlige passord til
    &aring; utf&oslash;re endringer.
  </p>

  <ul>
    <li />
    [dugnad_url]
    <li />
    Passordet til din brukerkonto er:
    <b>[passord]</b>
  </ul>

  <p>
    Passordet skiller mellom store og sm&aring; bokstaver. Du kan bytte
    b&aring;de passord og dugnadsdatoer p&aring; nettsiden. Hvis du glemmer
    eller mister passordet, s&aring; kan du ta kontakt med en dugnadsleder for
    hjelp.
  </p>

  <p>
    Mvh,<br />
    Dugnadsledelsen<br />
  </p>
</div>
