<br>
<div class="flyer_info[format_print]">
<div class="flyer_rom_info">[rom_info]</div>

	<h1>Info om Dugnadsordningen</h1>
	
	<p>
		I l&oslash;pet av et semester er du kontraktbundet til &aring; utf&oslash;re 2 dugnader &aacute; 4 timer. Du f&aring;r
		bot og straffedugnad hvis disse ikke blir utf&oslash;rt. Dugnaden varer fra 10-14, med en halvtimes pause fra 12-12:30. Oppm&oslash;te i peisestua - v&aelig;r presis.
	</p>

		<ul>
			<li />Du har blitt tildelt f&oslash;lgende dugnadsdatoer: <b>[dugnad_dugnad]</b>
		</ul>
	
	<p>
		Du kan selv bytte dugnadsdatoer p&aring; Blindern Studenterhjem sin nettide (se lenke under).
		Les mer om dugnadsordningen i statuttpermen i biblioteket, eller kontakt en av dugnadslederne.
	<p>
	
	<h2>Bytte av dugnadsdato gj&oslash;res hovedsaklig p&aring; nett</h2>
	
	<p>
		I inntil 7 dager f&oslash;r dugnaden avholdes kan du bytte dato p&aring; nettsiden.
		Til dette trenger du ditt eget passord. Passordet er privat og vi anser det som <u>ditt</u> ansvar &aring; se
		til at andre ikke misbruker din konto. Skulle det v&aelig;re n&oslash;d, og dugnaden skal avholdes om mindre enn 7 dager, kan du ogs&aring; h&oslash;re med en av dugnadslederne.
	</p>
	
		<ul>
			<li />[dugnad_url]
			<li />Passordet til din brukerkonto er: <b>[passord]</b>
		</ul>
	
	<p>
		Passordet skiller mellom store og sm&aring; bokstaver. Du kan bytte b&aring;de passord og dugnadsdatoer p&aring;
		nettsiden. Hvis du glemmer eller mister passordet, s&aring; kan du ta kontakt med en dugnadsleder for hjelp.
	</p>
	
	<p>
		Mvh,<br />
		Dugnadsledelsen,<br />
		[gutta]
	</p>

</div>

