<img src="./images/password.gif" class="password">

<form action="index.php" method="post">
	<input type="hidden" name="do" value="Bytte passord">
	[hidden]
	
	
	
	<h1>Bytte passord til [beboer_navn]</h1>
	
	<p class="txt_bottom">
		Du kan her bytte ditt passord. Hvis du likevel ikke &oslash;nsker bytte passord kan du enten klikke tilbake i nettleseren din, eller
		klikke p&aring; lenken <a href="index.php">Hovedmeny</a> &oslash;verst i h&oslash;yre hj&oslash;rne.
		For &aring; unng&aring; skrivefeil i passordet m&aring; det bekreftes ved &aring; taste det inn to ganger.
	</p>
	
	<p class="txt_bottom">
		Mvh,<br />
		Dugnaden
	</p>
	
	<p>
		Nytt passord: <input type="password" name="pw_2" value="" size="15" maxlength="15">
		Bekreft nytt passord: <input type="password" name="pw_b" value="" size="15" maxlength="15"> <input type="submit" value="Bytt passord">
	</p>

</form>


