<input type="hidden" name="do" value="admin" />
<input type="hidden" name="admin" value="Dugnadskalender" />
	
<div class="right_column">
	<p>
		<input type="radio" name="saturdays" value="idle" checked="checked" /> Oppdater status til l&oslash;rdagene.<br />
		<input type="radio" name="saturdays" value="add" /> Tilf&oslash;ye alle l&oslash;rdager for dette semesteret.<br />
		<input type="radio" name="saturdays" value="remove" /> Slette <u>alle</u> l&oslash;rdager.<br />
	</p>

	<p class="txt_bottom">
		Passord:<br /><input type="password" size="15" name="pw" value="" maxlength="15" />
	</p>
	
	<p>
		<input type="reset" value="Nullstill">
		<input type="submit" value="OK">
	</p>
</div>
