
.c { text-align: center }
.r { text-align: right }

.melding {
	margin: 1em 0;
	padding: 0.5em;
	background: #DDD url(information.png) no-repeat 5px 9px !important;
	padding-left: 28px;
}
.melding.feil {
	background: #DDD url(exclamation.png) no-repeat 5px 9px !important;
}

th { text-align: left; font-size: 12px }



/** Skrivefelt */
input.styled {
	margin: 0;
	padding: 2px 4px;
	border: 1px solid #BBBBBB;
	background-color: #FFFFFF;
	color: #333;
	text-decoration: none;
}
.trident5 input.styled {
	/* ie7 fix */
	vertical-align: -3px;
}
textarea {
	margin: 0;
	padding: 2px 4px;
	border: 1px solid #BBBBBB;
	background-color: #FFFFFF;
	color: #333;
	resize: vertical;
}

.nowrap { white-space: nowrap }
